## EJERCICIO 1

Descarrega el data set Airlines Delay: Airline on-time statistics and delay causes i carrega’l a un Pandas Dataframe. Explora les dades que conté, explica breument quines variables hi ha i queda’t únicament amb les columnes que consideris rellevants. Justifica la teva elecció.

In [6]:
import pandas as pd
import numpy as np

### REDUCCIÓN DE LA DIMENSIÓN Y EXPLORACIÓN DE DATOS

In [3]:
##Cargamos nuestro data set

dataset_completo = pd.read_csv("./DelayedFlights.csv")
dataset_completo

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936753,7009710,2008,12,13,6,1250.0,1220,1617.0,1552,DL,...,9.0,18.0,0,N,0,3.0,0.0,0.0,0.0,22.0
1936754,7009717,2008,12,13,6,657.0,600,904.0,749,DL,...,15.0,34.0,0,N,0,0.0,57.0,18.0,0.0,0.0
1936755,7009718,2008,12,13,6,1007.0,847,1149.0,1010,DL,...,8.0,32.0,0,N,0,1.0,0.0,19.0,0.0,79.0
1936756,7009726,2008,12,13,6,1251.0,1240,1446.0,1437,DL,...,13.0,13.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1936757,7009727,2008,12,13,6,1110.0,1103,1413.0,1418,DL,...,8.0,11.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [7]:
## Reducimos el dataset a 200000 primeros registros. Para esta operación utilizamos la consola
## con el comando head -n200001 DelayedFlights.csv > DelayedFlights.reducido.csv
## llamamos al data set reducido

dataset = pd.read_csv("./DelayedFlights.reducido.csv")
dataset

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,645671,2008,2,14,4,2143.0,2125,2303.0,2245,WN,...,5.0,7.0,0,N,0,0.0,0.0,0.0,0.0,18.0
199996,645672,2008,2,14,4,1448.0,1440,1701.0,1650,WN,...,5.0,15.0,0,N,0,NaN,NaN,NaN,NaN,NaN
199997,645674,2008,2,14,4,1853.0,1825,2102.0,2035,WN,...,5.0,8.0,0,N,0,0.0,0.0,0.0,0.0,27.0
199998,645676,2008,2,14,4,1642.0,1635,1906.0,1845,WN,...,4.0,26.0,0,N,0,0.0,0.0,14.0,0.0,7.0
199999,645679,2008,2,14,4,2110.0,2025,2316.0,2235,WN,...,3.0,9.0,0,N,0,5.0,0.0,0.0,0.0,36.0



* Para ver los datos que contiene utilizaremos el parámetro .info y de que tipo de datos se compone:

In [12]:
dataset.info

<bound method DataFrame.info of         Unnamed: 0  Year  Month  DayofMonth  DayOfWeek  DepTime  CRSDepTime  \
0                0  2008      1           3          4   2003.0        1955
1                1  2008      1           3          4    754.0         735
2                2  2008      1           3          4    628.0         620
3                4  2008      1           3          4   1829.0        1755
4                5  2008      1           3          4   1940.0        1915
...            ...   ...    ...         ...        ...      ...         ...
199995      645671  2008      2          14          4   2143.0        2125
199996      645672  2008      2          14          4   1448.0        1440
199997      645674  2008      2          14          4   1853.0        1825
199998      645676  2008      2          14          4   1642.0        1635
199999      645679  2008      2          14          4   2110.0        2025

        ArrTime  CRSArrTime UniqueCarrier  ...  TaxiIn TaxiOut  Cancelled  \
0        2211.0        2225            WN  ...     4.0     8.0          0
1        1002.0        1000            WN  ...     5.0    10.0          0
2         804.0         750            WN  ...     3.0    17.0          0
3        1959.0        1925            WN  ...     3.0    10.0          0
4        2121.0        2110            WN  ...     4.0    10.0          0
...         ...         ...           ...  ...     ...     ...        ...
199995   2303.0        2245            WN  ...     5.0     7.0          0
199996   1701.0        1650            WN  ...     5.0    15.0          0
199997   2102.0        2035            WN  ...     5.0     8.0          0
199998   1906.0        1845            WN  ...     4.0    26.0          0
199999   2316.0        2235            WN  ...     3.0     9.0          0

        CancellationCode  Diverted  CarrierDelay  WeatherDelay NASDelay  \
0                      N         0           NaN           NaN      NaN
1                      N         0           NaN           NaN      NaN
2                      N         0           NaN           NaN      NaN
3                      N         0           2.0           0.0      0.0
4                      N         0           NaN           NaN      NaN
...                  ...       ...           ...           ...      ...
199995                 N         0           0.0           0.0      0.0
199996                 N         0           NaN           NaN      NaN
199997                 N         0           0.0           0.0      0.0
199998                 N         0           0.0           0.0     14.0
199999                 N         0           5.0           0.0      0.0

       SecurityDelay  LateAircraftDelay
0                NaN                NaN
1                NaN                NaN
2                NaN                NaN
3                0.0               32.0
4                NaN                NaN
...              ...                ...
199995           0.0               18.0
199996           NaN                NaN
199997           0.0               27.0
199998           0.0                7.0
199999           0.0               36.0

[200000 rows x 30 columns]>

In [17]:
dataset.dtypes

Unnamed: 0             int64
Year                   int64
Month                  int64
DayofMonth             int64
DayOfWeek              int64
DepTime              float64
CRSDepTime             int64
ArrTime              float64
CRSArrTime             int64
UniqueCarrier         object
FlightNum              int64
TailNum               object
ActualElapsedTime    float64
CRSElapsedTime       float64
AirTime              float64
ArrDelay             float64
DepDelay             float64
Origin                object
Dest                  object
Distance               int64
TaxiIn               float64
TaxiOut              float64
Cancelled              int64
CancellationCode      object
Diverted               int64
CarrierDelay         float64
WeatherDelay         float64
NASDelay             float64
SecurityDelay        float64
LateAircraftDelay    float64
dtype: object

* Comprobamos que la reducción de nuestro dataset ha sido efectiva y lo hemos reducido a los 200000 registros que solicita el ejercicio y comprobamos el alcance total de la misma.

In [13]:
dataset.shape

(200000, 30)

In [14]:
dataset.size

6000000

* Verficamos que no haya registros duplicados.

In [24]:
dataset.loc[dataset.duplicated()]

Empty DataFrame
Columns: [Unnamed: 0, Month, DayofMonth, DayOfWeek, DepTime, CRSDepTime, ArrTime, CRSArrTime, UniqueCarrier, FlightNum, TailNum, ActualElapsedTime, CRSElapsedTime, AirTime, ArrDelay, DepDelay, Origin, Dest, Distance, TaxiIn, TaxiOut, Cancelled, CancellationCode, Diverted, CarrierDelay, WeatherDelay, NASDelay, SecurityDelay, LateAircraftDelay]
Index: []

[0 rows x 29 columns]

* Analizamos el espacio en memoria que ocupan las dos versiones del dataset para comprobar que efectivamente la reduccion supone una mejora.

In [21]:
dataset_completo.memory_usage(deep=True)

Index                      128
Unnamed: 0            15494064
Year                  15494064
Month                 15494064
DayofMonth            15494064
DayOfWeek             15494064
DepTime               15494064
CRSDepTime            15494064
ArrTime               15494064
CRSArrTime            15494064
UniqueCarrier        114268722
FlightNum             15494064
TailNum              122008105
ActualElapsedTime     15494064
CRSElapsedTime        15494064
AirTime               15494064
ArrDelay              15494064
DepDelay              15494064
Origin               116205480
Dest                 116205480
Distance              15494064
TaxiIn                15494064
TaxiOut               15494064
Cancelled             15494064
CancellationCode     112331964
Diverted              15494064
CarrierDelay          15494064
WeatherDelay          15494064
NASDelay              15494064
SecurityDelay         15494064
LateAircraftDelay     15494064
dtype: int64

In [20]:
dataset.memory_usage(deep=True)

Index                     128
Unnamed: 0            1600000
Year                  1600000
Month                 1600000
DayofMonth            1600000
DayOfWeek             1600000
DepTime               1600000
CRSDepTime            1600000
ArrTime               1600000
CRSArrTime            1600000
UniqueCarrier        11800000
FlightNum             1600000
TailNum              12599255
ActualElapsedTime     1600000
CRSElapsedTime        1600000
AirTime               1600000
ArrDelay              1600000
DepDelay              1600000
Origin               12000000
Dest                 12000000
Distance              1600000
TaxiIn                1600000
TaxiOut               1600000
Cancelled             1600000
CancellationCode     11600000
Diverted              1600000
CarrierDelay          1600000
WeatherDelay          1600000
NASDelay              1600000
SecurityDelay         1600000
LateAircraftDelay     1600000
dtype: int64

### VARIABLES DEL DATA SET

* Observamos de que columnas se compone con el parámetro .columns, estas serán las variables que nos darán la información para realizar nuestras consultas. Comprobamos también el tipo de variables.

In [8]:
dataset.columns

Index(['Unnamed: 0', 'Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime',
       'CRSDepTime', 'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum',
       'TailNum', 'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

* La página de descarga del data set nos proporciona una descripción de las 29 variables que lo compone, se trata de las siguientes:

**Year** 2008

**Month** 1-12

**DayofMonth** 1-31

**DayOfWeek** 1 (Monday) - 7 (Sunday)

**DepTime** actual departure time (local, hhmm)

**CRSDepTime** scheduled departure time (local, hhmm)

**ArrTime** actual arrival time (local, hhmm)

**CRSArrTime** scheduled arrival time (local, hhmm)

**UniqueCarrier** unique carrier code

**FlightNum** flight number

**TailNum** plane tail number: aircraft registration, unique aircraft identifier

**ActualElapsedTime** in minutes

**CRSElapsedTime** in minutes

**AirTime** in minutes

**ArrDelay** arrival delay, in minutes: A flight is counted as "on time" if it operated less than 15 minutes later the scheduled time shown in the carriers' Computerized Reservations Systems (CRS).

**DepDelay** departure delay, in minutes

**Origin** origin IATA airport code

**Dest** destination IATA airport code

**Distance** in miles

**TaxiIn** taxi in time, in minutes

**TaxiOut** taxi out time in minutes

**Cancelled** *was the flight cancelled

**CancellationCode reason for cancellation** (A = carrier, B = weather, C = NAS, D = security)

**Diverted** 1 = yes, 0 = no

**CarrierDelay in minutes:** Carrier delay is within the control of the air carrier. Examples of occurrences that may determine carrier delay are: aircraft cleaning, aircraft damage, awaiting the arrival of connecting passengers or crew, baggage, bird strike, cargo loading, catering, computer, outage-carrier equipment, crew legality (pilot or attendant rest), damage by hazardous goods, engineering inspection, fueling, handling disabled passengers, late crew, lavatory servicing, maintenance, oversales, potable water servicing, removal of unruly passenger, slow boarding or seating, stowing carry-on baggage, weight and balance delays.

**WeatherDelay in minutes:** Weather delay is caused by extreme or hazardous weather conditions that are forecasted or manifest themselves on point of departure, enroute, or on point of arrival.

**NASDelay in minutes:** Delay that is within the control of the National Airspace System (NAS) may include: non-extreme weather conditions, airport operations, heavy traffic volume, air traffic control, etc.

**SecurityDelay in minutes:** Security delay is caused by evacuation of a terminal or concourse, re-boarding of aircraft because of security breach, inoperative screening equipment and/or long lines in excess of 29 minutes at screening areas.

**LateAircraftDelay in minutes:** Arrival delay at an airport due to the late arrival of the same aircraft at a previous airport. The ripple effect of an earlier delay at downstream airports is referred to as delay propagation.


Datos extraidos de: [https://www.kaggle.com/code/adveros/flight-delay-eda-exploratory-data-analysis]

### VARIABLES RELEVANTES

* Descartaremos la variable Year (todos los datos son del mismo año), ya que no será necesaria para el análisis propuesto, dado que se engloba dentro de un informe dónde ya se mostrará la fecha.

In [23]:
dataset.drop(['Year'], axis=1, inplace=True)
dataset.columns

Index(['Unnamed: 0', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime',
       'CRSDepTime', 'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum',
       'TailNum', 'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

---

# EJERCICIO 2

Fes un informe complet del dataset:

### RESUMEN ESTADÍSTICO

* Hacemos el resumen estadístico por serparado de las variables numéricas y las categóricas.

In [30]:
dataset.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,200000.0,323761.518375,189898.900604,0.0,162967.25,321523.0,491015.5,645679.0
Month,200000.0,1.082365,0.274921,1.0,1.00,1.0,1.0,2.0
DayofMonth,200000.0,14.589990,9.390684,1.0,6.00,14.0,23.0,31.0
DayOfWeek,200000.0,3.864005,1.915283,1.0,2.00,4.0,5.0,7.0
DepTime,200000.0,1512.672185,448.775001,1.0,1158.00,1539.0,1858.0,2400.0
CRSDepTime,200000.0,1459.604920,425.301806,15.0,1130.00,1500.0,1815.0,2359.0
ArrTime,199181.0,1610.502513,538.874772,1.0,1317.00,1710.0,2028.0,2400.0
CRSArrTime,200000.0,1625.098530,462.908106,1.0,1316.00,1657.0,2010.0,2400.0
FlightNum,200000.0,2239.528720,1942.372776,1.0,642.00,1568.0,3662.0,9002.0
ActualElapsedTime,199181.0,130.299366,70.140375,19.0,79.00,113.0,161.0,693.0
CRSElapsedTime,199965.0,131.173785,70.038224,1.0,80.00,114.0,161.0,660.0
AirTime,199181.0,106.040646,67.283089,0.0,57.00,87.0,135.0,636.0
ArrDelay,199181.0,42.461851,55.636948,-67.0,9.00,25.0,56.0,1525.0
DepDelay,200000.0,43.409865,51.946091,6.0,12.00,25.0,54.0,1355.0
Distance,200000.0,741.801215,557.321276,24.0,336.00,590.0,978.0,4962.0
TaxiIn,199181.0,6.653822,5.209167,0.0,4.00,5.0,8.0,189.0
TaxiOut,200000.0,17.608605,13.032046,0.0,10.00,14.0,21.0,383.0
Cancelled,200000.0,0.000000,0.000000,0.0,0.00,0.0,0.0,0.0
Diverted,200000.0,0.004095,0.063861,0.0,0.00,0.0,0.0,1.0
CarrierDelay,130750.0,18.716512,41.485416,0.0,0.00,2.0,21.0,1158.0
WeatherDelay,130750.0,3.525461,21.598476,0.0,0.00,0.0,0.0,1049.0
NASDelay,130750.0,13.928229,33.176719,0.0,0.00,0.0,13.0,1357.0
SecurityDelay,130750.0,0.104329,1.748100,0.0,0.00,0.0,0.0,136.0
LateAircraftDelay,130750.0,26.578715,42.319560,0.0,0.00,11.0,35.0,897.0

In [31]:
dataset.describe(include = ['O']).T

                   count unique     top    freq
UniqueCarrier     200000     20      WN   51720
TailNum           200000   4835  N348SW     177
Origin            200000    285     ORD   13938
Dest              200000    287     ORD   11908
CancellationCode  200000      1       N  200000

### DATOS QUE FALTAN

* Calculamos los datos que le faltan a nuestro data set y eliminamos aquellos que sean nulos.

In [29]:
dataset.isnull().sum()

Unnamed: 0               0
Month                    0
DayofMonth               0
DayOfWeek                0
DepTime                  0
CRSDepTime               0
ArrTime                819
CRSArrTime               0
UniqueCarrier            0
FlightNum                0
TailNum                  0
ActualElapsedTime      819
CRSElapsedTime          35
AirTime                819
ArrDelay               819
DepDelay                 0
Origin                   0
Dest                     0
Distance                 0
TaxiIn                 819
TaxiOut                  0
Cancelled                0
CancellationCode         0
Diverted                 0
CarrierDelay         69250
WeatherDelay         69250
NASDelay             69250
SecurityDelay        69250
LateAircraftDelay    69250
dtype: int64

In [32]:
dataset.dropna(inplace=True)
dataset.shape

(130750, 29)

### NUEVAS COLUMNAS 

* Añadimos una columna que pasará de millas a km.
* Añadimos la columna de la velocidad media.
* Añadimos la columna demorado.

In [62]:
dataset['distancia_Km'] = dataset['Distance'] * 1.60934
dataset['velocidad_media'] = dataset['Distance'] / (dataset['AirTime']/60)
dataset['demorado'] = dataset['ArrDelay'] > 0


dataset.columns

Index(['Unnamed: 0', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime',
       'CRSDepTime', 'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum',
       'TailNum', 'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay',
       'velocidad_media', 'distancia_Km', 'demorado'],
      dtype='object')

### AEROLÍNEAS CON MÁS RETRASOS

* Establecemos una relación de las aerolíneas con más retrasos que se llamará aero_demora.

In [43]:
aero_demora = dataset['demorado'] == True
dataset[aero_demora]['UniqueCarrier'].value_counts()

WN    29915
AA    13032
OO    11814
UA    10861
MQ    10422
XE     6969
NW     5442
US     5376
EV     4901
DL     4777
9E     4728
YV     4624
CO     4519
OH     3364
FL     3000
B6     2727
AS     2421
F9     1486
AQ      230
HA      142
Name: UniqueCarrier, dtype: int64

### VUELOS MÁS RETRASADOS

* Extraemos los vuelos que acumulan mayor retraso de nuestro data set.

In [60]:
vuelos_demorados = dataset.sort_values(by = ['ArrDelay'], ascending = False) 
print(vuelos_demorados[:5])

        Unnamed: 0  Month  DayofMonth  DayOfWeek  DepTime  CRSDepTime  \
163379      527950      1           5          6    800.0        1045
154597      503727      1          16          3   1805.0        1930
146567      481458      1           6          7   1017.0        1445
131293      426476      1          28          1    756.0        1316
137568      451036      1          27          7    642.0        1202

        ArrTime  CRSArrTime UniqueCarrier  FlightNum  ... CancellationCode  \
163379   1452.0        1327            AA       2398  ...                N
154597   2052.0        2215            AA       1274  ...                N
146567   1547.0        2040            AA        336  ...                N
131293   1131.0        1625            NW        243  ...                N
137568    832.0        1349            NW       1640  ...                N

        Diverted  CarrierDelay  WeatherDelay  NASDelay  SecurityDelay  \
163379         0        1158.0           0.0     117.0            0.0
154597         0           0.0           0.0    1357.0            0.0
146567         0        1068.0           0.0       0.0            0.0
131293         0        1120.0           0.0      26.0            0.0
137568         0        1120.0           0.0       3.0            0.0

       LateAircraftDelay velocidad_media  distancia_Km  demorado
163379             250.0      524.927536    2914.51474      True
154597               0.0      447.209302    1031.58694      True
146567              79.0      528.367347    2777.72084      True
131293               0.0      373.591160    1813.72618      True
137568               0.0      426.136364    1005.83750      True

[5 rows x 32 columns]

___

## EJERCICIO 3

Exporta el dataset net i amb les noves columnes a Excel.

In [61]:
dataset.to_excel('dataset.xlsx', index=False)